@charset "UTF-8";

a {
    color: lightseagreen;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: slateblue;
}

body {
    font-family: "Meiryo", "Yu Gothic", "Hiragino Maru Gothic ProN", sans-serif;
    background-color: lightgrey;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: lightseagreen;
}

hr {
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: dimgrey;
    border: none;
}

img {
    margin: 10px;
    max-width: 350px;
    min-width: 50px;
    min-height: 50px;

}

#in_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: calc(100% - 10px);
    margin: auto;
}

.div_flex {
    display: flex;
    width: 100%;
}

#title {
    flex: 1 1 277px;
}

.title_ja {
    font-size: 18px;
    color: dimgray;
}

.title_en {
    font-size: 45px;
    color: white;
}

.title_en:hover {
    color: rgb(255, 242, 187);
}

#blank {
    flex: 1 1 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blank_in {
    width: 5px;
    height: calc(100% - 10px);
    background-color: white;
}

#content_menu {
    flex: 6 6 calc(100% - 307px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.div_flexbox_wrap {
    align-items: center;
    flex: 1 0 433px;
    height: 50%;
}

.div_flex_content {
    display: flex;
    width: 100%;
    height: 100%;
}

.content {
    flex: 1 1 auto;
    text-align: center;
}

.content_link {
    display: block;
    font-size: 28px;
    color: white;
}

.content_link:hover {
    color: rgb(255, 242, 187);
}

#blank_main {
    height: 10px;
}

#main {
    width: calc(100% - 10px);
}

.content_main {
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}

.content_name {
    font-size: 30px;
    color: dimgray;
    line-height: 1;
}

.div_flex_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.content_detail {
    flex: 1 1 600px;
}

.content_image {
    flex: 1 1 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_subtitle {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.content_text {
    font-size: 18px;
}

#to_top {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 5em;
    height: 2em;
    background-color: white;
    border: 3px solid lightseagreen;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#to_top:hover {
    background-color: lightseagreen;
}

.to_top_a {
    display: block;
    line-height: 2em;
}

.to_top_a:hover {
    color: white;
}

.list_a {
    color: dimgray;
}

.list_a:hover {
    color: slateblue;
}